<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>serving static file</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <div class="card">
        <h2>This a Demo API</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quo possimus temporibus eius commodi hic
            nemo beatae culpa dolores! Hic ratione exercitationem, quibusdam nobis provident expedita assumenda eius
            corrupti eveniet.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ut obcaecati officia dolorem quae tempora quam
            iste expedita molestias veniam. Facilis, necessitatibus maiores quam velit veritatis quae aut ipsum laborum.
        </p>
    </div>

</body>

</html>